#Git config file
#author : lostnut
#General configuration
[user]
	name = lostnut
	email = lostnut@pm.me
	signingkey = 6734CC402C143542FB83A84BC5D009FB2905F504
[core]
	editor = vim
	pager = less -i
[alias]
	last = log -1 HEAD
	lo = log --graph --all --decorate --date-order
#Merge tools
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld $LOCAL $MERGED $REMOTE
	trustExitCode = false
[mergetool]
	keepBackup = false
#Colors
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[commit]
	gpgsign = true
